<%- include('partials/header', { title: 'Página Inicial' }) %>
<%- include('partials/header2') %>

<div class="alinhaMenu">
    <%- include('partials/menuItens') %> 


    <main class="conteudo">
    
        <p class="aaaaaaaaaaa">minhas coisinhas anotaciones</p>
    </main>
</div>



</body>
</html>