<%- include('partials/header', { title: 'Página Inicial' }) %>
    <%- include('partials/header2') %>
        <div class="alinhaMenu">
            <%- include('partials/menuItens') %>

                <div class="conteudo">
                    <main>

                        <p class="aaaaaaaaaaa">index principal</p>
                    </main>
                </div>

                </body>

                </html>