<%- include('partials/header', { title: 'Página Inicial' }) %>
<hr>
<main>
    
  
  <div class="meioLandingPage">

    <div class="mensagem">
        <h1>Transforme seu esforço <br> em conquistas</h1>
        <p> Nyxi plataforma dedicada e feita para estudantes.
            Junte-se a nós</p>
    </div>
    
    <div class="quadrados">
        <div class="quadrado1">

        </div>
        <div class="quadrado2">

        </div>
    </div>

  </div>
</main>

<hr>
<%- include('partials/footer') %>