<%- include('partials/header', { title: 'Página Inicial' }) %>
<hr>
<main>
    
  
   <div class="meioLandingPage">
    <section>
      <div class="mensagem">
        <h1>Transforme seu esforço <br> em conquistas</h1>
        <p> Nyxi plataforma dedicada <br>
          e feita para estudantes. <br>
            Junte-se a nós</p>
      </div>
      <div class="botaos">
        <button class="butao1">cadastre-se!</button>
        <button class="butao2">login</button>
      </div>
    </section>
    

    <section>
      <div class="quadrados">
        <div class="quadrado1">

        </div>
        <div class="quadrado2">

        </div>
    </div>
    </section>
    

  </div>
</main>

<hr>
<%- include('partials/footer') %>