<%- include('partials/header', { title: 'Página Inicial' }) %>
<hr>
<main>
    
  
   <div class="meioLandingPage">
    <section class="mensagem">
      <div >
        <h1>Transforme seu esforço <br> em conquistas</h1>
        <p> Nyxi plataforma dedicada <br>
          e feita para estudantes. <br>
            Junte-se a nós</p>
      </div>
      <div class="botaos">
        <a href="/cadastro"><button type="submit" href="" class="butao1">cadastre-se!</button></a>
        <a href="/login"><button type="submit" href="/login" class="butao2">login</button></a>
      </div>
    </section>
    

    <section class="quadrados">
      <div>
        <div class="quadrado1">

        </div>
        <div class="quadrado2">

        </div>
    </div>
    </section>
  </div>

  <section class="AlinharLandingPage">
    <div class="comeceEstudar">
      <img src="/imagens/Icone.png" alt="Ícone de estudo" class="icon">
      <h2>Comece a estudar <br>de graça</h2>

      <button class="LPbtn">Começar agora</button>

    </div>

    <div class="Foruns">
      <h3>Fóruns em alta</h2>
        <div class="Fgrid">
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
      </div>
      

    </div>

  </section>
</main>

<hr>
<%- include('partials/footer') %>