<%- include('partials/header', { title: 'Página Inicial' }) %>
<div class="alinhaMenu">
    <%- include('partials/menuItens') %> 


    <main>
    
        <p class="aaaaaaaaaaa">Pomodoro</p>
    </main>
</div>

</body>
</html>