<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nixy</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main class="centralizar">

      

        <div class="login-box">

            <div class="alinharLogo">
                <a href="\landingPage"><img src="/imagens/logo.png" alt="Logo Nixy" class="logoCadastro"></a>
              <a href="\landingPage">  <h2 class="logo3">nixy</h2></a>
            </div>
            <br>
            <p class="pCadastro">Voltar para o <a class="Acadastro" href="/cadastro">Cadastro</a></p>
            <p class="pCadastro">Voltar para o <a class="Acadastro" href="/login">Login</a></p>
            <br>
            <h1 class="h1Cadastro">recuperando a senha</span></h1>
            
            

            <form id="loginForm" method="POST" action="/esqueci-senha">
                <label class="CadastroRequisito" for="email">Insira Email de recuperação</label>
                <input class="formCadastro" type="email" id="email" name="email" required>
                <button type="submit" class="login-btn">Enviar</button>
            </form>

        </div>

        <% if (typeof mensagem !== 'undefined') { %>
            <p><%= mensagem %></p>
        <% } %>

        
    </main>
</body>
</html>