*{
    margin:0;
    padding:0;
    border:0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

/* header */

.cabecalho{
    width: 100%;
    height: 100px;
    background-color: #1C1746;
    display: flex; 
    align-items: left;
    gap: 10px;
    
    
}

.cabecalhoLogo{
    width: 110px;
}

.NixyCabecalho{
    
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
    color: #81BBE7;
    font-size: 70px;
    
}

.menu{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
    list-style-type: none;
    
    
}

.menu li{
    font-size: 25px;
    
}

.menu li a{
    color: white;
    padding: 10px 15px;
    transition: 0.3s;
    text-decoration: none;
}

.menu li a:hover {
    color: #81BBE7;
    border-radius: 5px;
}

/* aqui a landing page */

.meioLandingPage{
    width: 100%;
    height: 600px;
    background-color: #461B7A;
    display: grid;
    justify-content: center; 
    align-items: center;    
   
}

.mensagem h1{
    color: #81BBE7;
    margin-bottom: 10%;
    font-size: 40px;
}

.mensagem p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.butao1 {
    background-color: #81BBE7;
    border-radius: 15%;
    width: 30%;
    height: 40px;
}

.butao2 {
    background-color: #81BBE7;
    border-radius: 15%;
    width: 30%;
    height: 40px;
    margin-left: 5%;
    margin-top: 5%;
 }
.quadrados{
    position: relative;
}

.quadrado1{
    width: 120px;
    height: 150px;
    background-color: #A87EB9;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
    margin-bottom: 20px;
    border-radius: 10%;
}

.quadrado2{
    width: 20px;
    height: 200px;
    background-color: #A87EB9;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
    margin-bottom: 20px;
    border-radius: 10%;
}

/* login */

.chamada{
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 20px;
}

.logo{
    margin-left: 15%;
}

.logo2{
    
    font-family: "Inspiration";
    font-weight: 400;
    font-style: normal;
    color: #81BBE7;
    font-size: 130px;
    
}

h2{
    float: right;
}

.login-coluns{
    display: flex;
    justify-content: center;
} 

.login-coluns2{
    display: flex; 
    gap: 10px;
}

 .formulario{
    float: right;
    height: 500px;
    width: 700px;
    margin-top: 5%;
   
}

.homen{
    float: left;
} 

form {
    display: flex;
    flex-direction: column;
}

.loginRequisito {
    margin-bottom: 5px;
    font-weight: bold;
}

.login {
    border: none;
    border-bottom: 1px solid #6C6464;
    padding: 8px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10%;
    width: 90%;
}

.login:focus {
    border-bottom: 2px solid #007BFF;
}

.Enviar{
    float: right;
    background-color: #D6A4EF;
    height: 52px;
    width: 190px;
    border-radius: 5%;
    font-size: 20px;
    margin-right: 10%;
}


/* cadastro */


.alinharLogo{
    display: flex; 
    align-items: center;
    gap: 10px;
}

.logo3{
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
    color: #81BBE7;
    font-size: 80px;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.imgDireita {
    margin-top: 20%;
    width: 25%; 
    max-width: 300px;
}

.imgE{
    position: relative;
    width: 25%; 
    max-width: 300px;
    margin-right: 50px;
    margin-bottom: 10%;
    z-index: auto;
}


.login-box {
    background-color: #DEDCE9;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    height: 600px;
    width: 500px;
    text-align: center;
    margin-top: 5%;
    
}

.logoCadastro {
    width: 90px;
    margin-bottom: 10px;
    display: block;
    margin-left: 0;

}

.h1Cadastro {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}


.pCadastro {
    font-size: 14px;
    color: #444;
    text-align: left;
    width: 100%;
}

.Acadastro {
    color: #475BE2;
    text-decoration: none;
    font-weight: 500;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CadastroRequisito {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.formCadastro {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 0.5px solid #6C6464;
    border-radius: 5px;
    font-size: 14px;
    background-color: #DEDCE9;
    height: 20px;
}

.forgot-password {
    text-align: right;
    width: 100%;
    margin-top: 5px;
}

.login-btn {
    background-color: #D6A4EF;
    color: black;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #B286E0;
}