<%- include('partials/header', { title: 'Página Inicial' }) %>
    <%- include('partials/header2') %>
        <div class="alinhaMenu">
            <%- include('partials/menuItens') %>

                <div class="conteudo">
                    <main class="alinhaIndex">

                        <p class="">Bem vindo ao Nixy!!</p>
                        <div class="logoPomo">Nixy</div>
                    </main>
                </div>

                </body>

                </html>